<!DOCTYPE html>
<html lang="en-US">
    <header>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi=medium-dpi">
        <title>main</title>
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/footer.css">
        <script src="../static/js/main.js"></script>
        <script src="../static/js/footer.js"></script>
    </header>
    <body>
        <div id="next">
            <div class="layout">
                <div class="navbar">

                </div>
                <main class="layout-main">

                </main>
                <footer id="footer">
                    <div class="footer-grid-container">
                        <div class="footer-grid-top">
                            <span id="back-to-top">
                                Back to top
                            </span>
                        </div>
                        <div class="footer-grid-center">
                            <div class="footer-grid-center-left">
                                <h3>
                                    About Us
                                </h3>
                                <p>
                                    Careers
                                </p>
                                <p>
                                    Blog
                                </p>
                                <p>
                                    About FC Unwired
                                </p>
                            </div>
                            <div class="footer-grid-center-center">
                                <h3>
                                    Make Money with Us
                                </h3>
                                <p>
                                    Sell products on Our Web
                                </p>
                                <p>
                                    See what we are developing
                                </p>
                            </div>
                            <div class="footer-grid-center-right">
                                <h3>
                                    Contact Us
                                </h3>
                                <p>
                                    Contact Us with Email
                                </p>
                                <p>
                                    Book a chat
                                </p>
                                <p>
                                    FAQ
                                </p>
                            </div>
                        </div>
                        <div class="footer-grid-bottom">
                            <select id="language-select">

                            </select>
                            <select id="currency-select">

                            </select>
                            <select id="region-select">

                            </select>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>