<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi=medium-dpi">
        <title>main</title>
        <link rel="stylesheet" href="../static/css/header.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/footer.css">
        <script src="../static/js/header.js"></script>
        <script src="../static/js/main.js"></script>
        <script src="../static/js/footer.js"></script>
    </head>
    <body>
        <header>
            <div class="navbar">
                <div class="header-grid-container">
                    <div class="header-go-to-main">
                        <a id="header-go-to-main-img" href="main.html">
                            <img class="header-main-logo" src="../static/images/mainPageButton.png">
                        </a>
                    </div>
                    <div class="header-change-options">
                        <select id="language-select">
                            <option value="english">
                                english
                            </option>
                            <option value="korean">
                                한국어
                            </option>
                            <option value="deutsch">
                                deutsch
                            </option>
                        </select>
                        <select id="currency-select">
                            <option value="dollar">
                                $
                            </option>
                            <option value="won">
                                ₩
                            </option>
                            <option value="euro">
                                €
                            </option>
                        </select>
                        <select id="region-select">
                            <option value="us">
                                united-states
                            </option>
                            <option value="korea">
                                south-korea
                            </option>
                            <option value="australia">
                                australia
                            </option>
                            <option value="germany">
                                germany
                            </option>
                        </select>
                    </div>
                    <div class="header-search">
                        <div class="search-text">
                            <input class="header-search-text">
                        </div>
                        <div class="search-button">
                            <input class="header-search-button">
                        </div>
                    </div>
                    <div class="header-login">
                        <a class="header-login-button" href="/login">
                            Hello, sign in
                        </a>
                    </div>
                    <!-- <div class="header-my-page">
                        <input class="header-my-page-button" disabled>
                    </div> -->
                    <div class="header-cart">
                        <a id="header-cart-button" class="header-cart-button" href="cart.html">
                            <!-- <img class="'header-cart-img" src="../static/images/shopping-cart.png"> -->
                            <span class="header-cart-img">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <main class="layout-main">

        </main>
        <footer id="footer">
            <div class="footer-grid-container">
                <div class="footer-grid-top">
                    <span id="back-to-top">
                        Back to top
                    </span>
                </div>
                <div class="footer-grid-center">
                    <div class="footer-grid-center-left">
                        <h3>
                            About Us
                        </h3>
                        <p>
                            Careers
                        </p>
                        <p>
                            Blog
                        </p>
                        <p>
                            About FC Unwired
                        </p>
                    </div>
                    <div class="footer-grid-center-center">
                        <h3>
                            Make Money with Us
                        </h3>
                        <p>
                            Sell products on Our Web
                        </p>
                        <p>
                            See what we are developing
                        </p>
                    </div>
                    <div class="footer-grid-center-right">
                        <h3>
                            Contact Us
                        </h3>
                        <p>
                            Contact Us with Email
                        </p>
                        <p>
                            Book a chat
                        </p>
                        <p>
                            FAQ
                        </p>
                    </div>
                </div>
                <div class="footer-grid-bottom">
                    <select id="language-select">
                        <option value="english">
                            english
                        </option>
                        <option value="korean">
                            한국어
                        </option>
                        <option value="deutsch">
                            deutsch
                        </option>
                    </select>
                    <select id="currency-select">
                        <option value="dollar">
                            $
                        </option>
                        <option value="won">
                            ₩
                        </option>
                        <option value="euro">
                            €
                        </option>
                    </select>
                    <select id="region-select">
                        <option value="us">
                            united-states
                        </option>
                        <option value="korea">
                            south-korea
                        </option>
                        <option value="australia">
                            australia
                        </option>
                        <option value="germany">
                            germany
                        </option>
                    </select>
                </div>
            </div>
        </footer>
    </body>
</html>